.btn-3 {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  margin: 0.5em auto;
  height: 40px;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.btn-3:active {
  background: #fff;
  color: #2ecc71;
}
